// BOOTSTRAP
link(data-require="bootstrap@3.3.2", data-semver="3.3.2", rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
link(data-require="bootstrap@3.3.2", data-semver="3.3.2", rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css")
link(data-require="bootstrap@3.3.2", data-semver="3.3.2", rel="stylesheet", href="css/bootstrap.spacelab.min.css")
//	SELECT 2
link(data-require="select2@4.0.0", data-semver="4.0.0", rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/css/select2.min.css")
// OFF CANVAS
link(rel="stylesheet", media="screen", href="css/bootstrap.offcanvas.min.css")
// CUSTOM STYLES
link(rel="stylesheet", media="screen", href="css/custom.styles.min.css")
// FONT AWESOME
link(data-require="fontawesome@4.3.0", data-semver="4.3.0", rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
// WEB FONTS
link(rel="stylesheet", media="all", href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900")