//META-BASIC
meta(http-equiv="content-type", content="text/html;charset=UTF-8")
meta(charset="UTF-8")
//META-APPLICATION INFORMATION AND DETAILS
meta(name="application-name", content="KNOCKOUT - SELECT2")
meta(name="keywords", content="Knockout, KO, Select2, Bootstrap")
meta(name="author", content="Doug A. Hill")
link(rel="author", href="humans.txt")
meta(name="description", content="Examples of using Select2 jQuery plugin within Bootstrap and Knockout.")
//META-DESKTOP: INTERNET EXPLORER 8 COMPATIBILITY
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
//META-ALL MOBILE DEVICES
meta(name="viewport", content="width=device-width")
meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
//META-OLDER MOBILE DEVICES
meta(name="HandheldFriendly", content="true")
meta(name="MobileOptimized", content="0")
//APPLE OS MOBILE DEVICES
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
//META-APPLE OS-DISABLE TELEPHONE LINKS
meta(name="format-detection", content="telephone=no")

