// JQUERY
script(data-require="jquery@2.1.3", data-semver="2.1.3", type="text/javascript", charset="UTF-8", src="http://code.jquery.com/jquery-2.1.3.min.js")
// BOOTSTRAP
script(data-require="bootstrap@3.3.4", data-semver="3.3.4", type="text/javascript", charset="UTF-8", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
// SELECT2
script(data-require="select2@4.0.0", data-semver="4.0.0", type="text/javascript", charset="UTF-8", src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.2/js/select2.min.js")
// KNOCKOUT
script(data-require="knockout@3.3.0", data-semver="3.3.0", type="text/javascript", charset="UTF-8", src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js")
// OFFCANVAS
script(type="text/javascript", charset="UTF-8", src="js/bootstrap.offcanvas.min.js")
// KO CUSTOM BINDINGS
script(type="text/javascript", charset="UTF-8", src="js/ko.custom.binding.select2.min.js")
// KO VIEW MODEL
script(type="text/javascript", charset="UTF-8", src="js/ko.viewmodel.min.js") 